{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    tr{
        cursor: pointer;
    }
</style>
    {{ include('head.html.twig') }}

<h2 class="text-center">affiches</h2>

    <table class="table table-striped">
        <thead>
        <th>tournoi</th>
        <th>favori</th>
        <th>cote1</th>
        <th>cote2</th>
        <th>outsider</th>
        <th>date</th>
        <th>score</th>
        </thead>
        <tbody>
        {% for m in matchs %}
            <tr onclick="document.location='{{ path('bet_instinct_affiche_show',{'id':m.id}) }}'">
                <td>{{ m.tournoi }}</td>
                <td>{{ m.favori|upper }}</td>
                <td class="bg-success">{{ m.coteFavorite }}</td>
                <td class="bg-danger">{{ m.coteOutsider }}</td>
                <td>{{ m.challenger|upper }}</td>
                <td>{{ m.schedule|date('d-m-Y')}}</td>
                <td>{{ m.score ? m.score:'???' }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    {{ include('end.html.twig') }}

{% endblock %}
