{{include('head.html.twig')}}


{% block body %}
    <h1>Choix index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for choix in choixes %}
            <tr>
                <td>{{ choix.id }}</td>
                <td>{{ choix.name }}</td>
                <td>
                    <a href="{{ path('bet_instinct_choix_show', {'id': choix.id}) }}">show</a>
                    <a href="{{ path('bet_instinct_choix_edit', {'id': choix.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_choix_new') }}">Create new</a>
{% endblock %}
