{% extends 'base.html.twig' %}

{% block title %}Surface{% endblock %}

{% block body %}
    <h1>Surface</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ surface.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ surface.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_surface_index') }}">back to list</a>

    <a href="{{ path('bet_instinct_surface_edit', {'id': surface.id}) }}">edit</a>

    {{ include('bet_instinct_surface/_delete_form.html.twig') }}
{% endblock %}
