{{include('head.html.twig')}}

{% block body %}
    <h1>Jeu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>parieur</th>
                <th>affiche</th>
                <th>pronostic</th>
                <th>Mise</th>
                <th>formule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jeu in jeus %}
            <tr>
                <td>{{ jeu.id }}</td>
                <td>{{ jeu.parieur }}</td>
                <td>{{ jeu.pronostic.bet.affiche }}</td>
                <td>{{ jeu.pronostic.bet.TypedePari }}/{{ jeu.pronostic }}</td>
                <td>{{ jeu.mise }}</td>
                <td>{{ jeu.formule }}</td>
                <td>
                    <a href="{{ path('bet_instinct_jeu_show', {'id': jeu.id}) }}" class="btn btn-info">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_jeu_new') }}">Create new</a>
{% endblock %}
