{{ include('head.html.twig') }}

{% block body %}
    <h3 class="text-center">Jeu n°{{ jeu.id }} </h3>

    {{ dump(jeu) }}

    <table class="table">
        <tbody>
        <tr>
            <th>auteur</th>
            <td>{{ jeu.pronostic.author.nickname|capitalize }}</td>
        </tr>
       <tr>
            <th>match</th>
            <td>{{ jeu.pronostic.bet.affiche|upper }}</td>
        </tr>
        <tr>
            <th>type de pari</th>
            <td>{{ jeu.pronostic.bet.TypedePari|upper }}</td>
        </tr>
        <tr>
            <th>pronostic</th>
            <td class="font-weight-bold">
                {% if jeu.pronostic.bet.TypedePari.type2choix == 'Vainqueur'%}
                    {% if jeu.pronostic.choix == 'outsider' %}
                        {{ jeu.pronostic.bet.affiche.challenger|upper }}/<span class="text-danger">{{ jeu.pronostic.choix }}</span>
                    {% else %}
                        {{ jeu.pronostic.bet.affiche.favori|upper }}/<span class="text-success">{{ jeu.pronostic.choix }}</span>
                    {% endif %}
                    {% else %}
                        {{ jeu.pronostic.choix }}
               {% endif %}
            </td>
        </tr>
        <tr>
            <th>mise</th>
            <td>{{ jeu.mise }} €</td>
        </tr>
        <tr>
            <th>cote totale</th>
            <td><span class="font-weight-bold">{{ jeu.pronostic.cote }}</span></td>
        </tr>
        <tr>
            <th>gains potentiel</th>
            <td><span class="font-weight-bold">{{ jeu.pronostic.cote * jeu.mise}} €</span></td>
        </tr>
        <tr>
            <th>résultat</th>
            <td><span class="font-weight-bold">{{ jeu.resultat}} </span></td>
        </tr>
        </tbody>
    </table>
<div class="col text-center">
    <a href="{{ path('bet_instinct_jeu_index') }}" class="btn btn-primary">retour</a>

    <a href="{{ path('bet_instinct_jeu_edit', {'id': jeu.id}) }}" class="btn btn-success" >modifier</a>
</div>
{% endblock %}
