{{include('head.html.twig')}}

{% block body %}
    <h3 class="text-center">          {{ bet.TypedePari.type2choix }}
    </h3>

  {% for d in app.flashes('danger') %} <div class="alert alert-danger"> {{ d}} </div>{% endfor %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bet.id }}</td>
            </tr>

            <tr>
                <th>match</th>
                <td>{{ bet.affiche}}</td>
            </tr>

                    <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix1,'cote':bet.cote1}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix1 }} pour {{ bet.affiche.favori|upper }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix1,'cote':bet.cote1}) }}" class="btn btn-success">{{ bet.cote1 }} </a></td>
                    </tr>

                    <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix2,'cote':bet.cote2}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix2 }}</td>
                        <td style="color: red"><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix2,'cote':bet.cote2}) }}" class="btn btn-success">{{ bet.cote2 }}</a></td>
                    </tr>
            {% if bet.cote3 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix3,'cote':bet.cote3}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix3 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix3,'cote':bet.cote3}) }}" class="btn btn-success">{{ bet.cote3 }}</a></td>
                    </tr>
            {% endif %}
{% if bet.cote4 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix4,'cote':bet.cote4}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix4 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix4,'cote':bet.cote4}) }}" class="btn btn-success">{{ bet.cote4 }}</a></td>
                    </tr>

        {% endif %}
{% if bet.cote5 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix5,'cote':bet.cote5}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix5 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix5,'cote':bet.cote5}) }}" class="btn btn-success">{{ bet.cote5 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote6 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix6,'cote':bet.cote6}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix6 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix6,'cote':bet.cote6}) }}" class="btn btn-success">{{ bet.cote6 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote7 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix7,'cote':bet.cote7}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix7 }} {% if bet.TypedePari.type2choix.sport.id == 2 %} pour {{ bet.affiche.challenger }}{% endif %}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix7,'cote':bet.cote7}) }}" class="btn btn-success">{{ bet.cote7 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote8 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix8,'cote':bet.cote8}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix8 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix8,'cote':bet.cote8}) }}" class="btn btn-success">{{ bet.cote8 }}</a></td>
                    </tr>
        {% endif %}

{% if bet.cote9 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix9,'cote':bet.cote9}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix9 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix9,'cote':bet.cote9}) }}" class="btn btn-success">{{ bet.cote9 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote10 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix10,'cote':bet.cote10}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix10 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix10,'cote':bet.cote10}) }}" class="btn btn-success">{{ bet.cote10 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote11 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix11,'cote':bet.cote11}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix11 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix11,'cote':bet.cote11}) }}" class="btn btn-success">{{ bet.cote11 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote12 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix12,'cote':bet.cote12}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix12 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix12,'cote':bet.cote12}) }}" class="btn btn-success">{{ bet.cote12 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote13 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix13,'cote':bet.cote13}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix13 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix13,'cote':bet.cote13}) }}" class="btn btn-success">{{ bet.cote13 }}</a></td>
                    </tr>
        {% endif %}
{% if bet.cote14 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix14,'cote':bet.cote14}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix14 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix14,'cote':bet.cote14}) }}" class="btn btn-success">{{ bet.cote14 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote15 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix15,'cote':bet.cote15}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix15 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix15,'cote':bet.cote15}) }}" class="btn btn-success">{{ bet.cote15 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote16 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix16,'cote':bet.cote16}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix16 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix16,'cote':bet.cote16}) }}" class="btn btn-success">{{ bet.cote16 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote17 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix17,'cote':bet.cote17}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix17 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix17,'cote':bet.cote17}) }}" class="btn btn-success">{{ bet.cote17 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote18 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix18,'cote':bet.cote18}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix18 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix18,'cote':bet.cote18}) }}" class="btn btn-success">{{ bet.cote18 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote19 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix19,'cote':bet.cote19}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix19 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix19,'cote':bet.cote19}) }}" class="btn btn-success">{{ bet.cote19 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote20 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix20,'cote':bet.cote20}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix20 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix20,'cote':bet.cote20}) }}" class="btn btn-success">{{ bet.cote20 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote21  %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix21,'cote':bet.cote21}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix21 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix21,'cote':bet.cote21}) }}" class="btn btn-success">{{ bet.cote21 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote22 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix22,'cote':bet.cote22}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix22 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix22,'cote':bet.cote22}) }}" class="btn btn-success">{{ bet.cote22 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote23 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix23,'cote':bet.cote23}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix23 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix23,'cote':bet.cote23}) }}" class="btn btn-success">{{ bet.cote23 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote24 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix24,'cote':bet.cote24}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix24 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix24,'cote':bet.cote24}) }}" class="btn btn-success">{{ bet.cote24 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote25 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix25,'cote':bet.cote25}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix25 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix25,'cote':bet.cote25}) }}" class="btn btn-success">{{ bet.cote25 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote26 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix26,'cote':bet.cote26}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix26 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix26,'cote':bet.cote26}) }}" class="btn btn-success">{{ bet.cote26 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote27 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix27,'cote':bet.cote27}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix27 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix27,'cote':bet.cote27}) }}" class="btn btn-success">{{ bet.cote27 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote28 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix28,'cote':bet.cote28}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix28 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix28,'cote':bet.cote28}) }}" class="btn btn-success">{{ bet.cote28 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote29 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix29,'cote':bet.cote29}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix29 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix29,'cote':bet.cote29}) }}" class="btn btn-success">{{ bet.cote29 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote30 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix30,'cote':bet.cote30}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix30 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix30,'cote':bet.cote30}) }}" class="btn btn-success">{{ bet.cote30 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote31 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix31,'cote':bet.cote31}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix31 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix31,'cote':bet.cote31}) }}" class="btn btn-success">{{ bet.cote31 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote32 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix16,'cote':bet.cote32}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix32}}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix32,'cote':bet.cote32}) }}" class="btn btn-success">{{ bet.cote32 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote33 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix33,'cote':bet.cote33}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix33 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix33,'cote':bet.cote33}) }}" class="btn btn-success">{{ bet.cote33 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote34 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix34,'cote':bet.cote34}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix34 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix34,'cote':bet.cote34}) }}" class="btn btn-success">{{ bet.cote34 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote35 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix35,'cote':bet.cote35}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix35 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix35,'cote':bet.cote35}) }}" class="btn btn-success">{{ bet.cote35 }}</a></td>
                    </tr>
        {% endif %}
            {% if bet.cote36 %}
 <tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix36,'cote':bet.cote36}) }}'">
                        <td class="font-weight-bold">{{ bet.TypedePari.type2choix.choix36 }}</td>
                        <td><a href="{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix36,'cote':bet.cote36}) }}" class="btn btn-success">{{ bet.cote36 }}</a></td>
                    </tr>
        {% endif %}



        </tbody>
    </table>

<div class="col text-center">
    <a href="{{ path('bet_instinct_affiche_show',{'id':bet.affiche.id}) }}" class="btn btn-secondary">retour</a>

    <a href="{{ path('bet_instinct_bet_edit', {'id': bet.id}) }}" class="btn btn-success disabled">edit</a>

    {{include('end.html.twig')}}


{% endblock %}
