{{include('head.html.twig')}}

{% block body %}
    <h1>Association index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.id }}</td>
                <td>{{ association.name }}</td>
                <td>
                    <a href="{{ path('bet_instinct_association_show', {'id': association.id}) }}">show</a>
                    <a href="{{ path('bet_instinct_association_edit', {'id': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_association_new') }}">Create new</a>
{% endblock %}
