{{include('head.html.twig')}}

{% block body %}
    <h1>Classement index</h1>
    <a href="{{ path('bet_instinct_classement_new') }}" class="btn btn-primary">nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Ranking</th>
                <th>Association</th>
                <th>athlete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classement in classements %}
            <tr>
                <td>{{ classement.ranking }}</td>
                <td>{{ classement.association.name }}</td>
                <td>{{ classement.joueur}}</td>
                <td>
                    <a href="{{ path('bet_instinct_classement_show', {'id': classement.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('bet_instinct_classement_edit', {'id': classement.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{include('end.html.twig')}}

{% endblock %}
