{{include('head.html.twig')}}


{% block body %}
    <h1>Vainqueur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vainqueur.id }}</td>
            </tr>
            <tr>
                <th>Favori</th>
                <td>{{ vainqueur.favori }}</td>
            </tr>
            <tr>
                <th>Outsider</th>
                <td>{{ vainqueur.outsider }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ vainqueur.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_vainqueur_index') }}">back to list</a>

    <a href="{{ path('bet_instinct_vainqueur_edit', {'id': vainqueur.id}) }}">edit</a>

    {{include('end.html.twig')}}
{% endblock %}
