{{include('head.html.twig')}}

{% block body %}
    <h1>Edit Affiche</h1>
    {{ include('bet_instinct/affiche/_form.html.twig', {'button_label': 'modifier'}) }}


    <a href="{{ path('bet_instinct_affiche_index') }}" class="btn btn-info">retour</a>

    {{ include('bet_instinct/affiche/_delete_form.html.twig') }}

    {{include('end.html.twig')}}

{% endblock %}
