{{include('head.html.twig')}}

{% block body %}
    <h1>Affiche index</h1>
<div class="col text-right">
    <a href="{{ path('bet_instinct_affiche_new') }}" class="btn btn-primary mb-2">nouveau</a>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>date</th>
                <th>Score</th>
                <th>favori(te)</th>
                <th>outsider</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affiche in affiches %}
            <tr>
                <td>{{ affiche.schedule ? affiche.schedule|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ affiche.score }}</td>
                <td class="text-success font-weight-bold">{{ affiche.favori|upper }}</td>
                <td class="text-danger font-weight-bold">{{ affiche.challenger|upper }}</td>
                <td>
                    <a href="{{ path('bet_instinct_affiche_show', {'id': affiche.id}) }}" class="btn btn-info">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{include('end.html.twig')}}

{% endblock %}
