{{include('head.html.twig')}}
{% block body %}
    <h2 class="text-center inline">{{ affiche.favori|upper }}</h2> VS <h2 class="inline text-right">{{ affiche.challenger|upper }}</h2>
    <table class="table">
        <tbody>


            <tr>
                <th>Schedule</th>
                <td>{{ affiche.schedule ? affiche.schedule|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ affiche.score }}</td>
            </tr>
            <tr>
                <th>Favori</th>
                <td onclick="document.location='{{ path('bet_instinct_athlete_show',{'id':affiche.favori.id}) }}'" class="cursor">{{ affiche.favori|capitalize }} {{ affiche.favori.ranking }}</td>
                {% if  affiche.equipeA!=null  %}
                <td>{{ affiche.equipeA.name|capitalize }}</td>
                {% endif %}
            </tr>

            <tr>
                <th>Outsider</th>
                <td onclick="document.location='{{ path('bet_instinct_athlete_show',{'id':affiche.challenger.id}) }}'" class="cursor">{{ affiche.challenger|capitalize }} {{ affiche.challenger.ranking }}</td>
                {% if  affiche.EquipeB!=null  %}
                    <td>{{ affiche.EquipeB.name|capitalize }}</td>
                {% endif %}

            </tr>

            <tr id="nbparis" onclick="(function() {
                var table = document.querySelector('#paris');
                    if(!table.classList.contains('d-none')){
                    table.classList.add('d-none');
                    }else{
                    table.classList.remove('d-none');
                    }
            })();" class="cursor">
                <td>nombre de paris</td>
                <td>{{ affiche.bet|length}}</td>
            </tr>
        </tbody>
    </table>
    <table class="d-none" id="paris">
        <tbody>
            {% for b in affiche.bet %}

                <tr>
                    <td>
                        <a href="{{ path('bet_instinct_bet_show',{'id':b.id}) }}">{{ b.typedePari.Type2choix.name }}</a>
                        {% if b.typedePari.Type2choix.name == 'Resultat Foot' %}{{ b.typedePari.Type2choix.choix1 }}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="col text-center mb-2">
    {% if affiche.score =='??' %}
    <a href="{{ path('bet_instinct_affiche_edit', {'id': affiche.id}) }}" class="btn btn-success">modifier</a>
    <a href="{{ path('bet_instinct_bet_new',{'id':affiche.id}) }}" class="btn btn-info">ajouter 1 pari</a>
    {% endif %}
    <a href="{{ path('bet_instinct_affiche_archive',{'id':affiche.id}) }}" class="btn btn-warning">archiver</a>
    <a href="{{ path('home') }}" class="btn btn-primary">retour</a>


</div>
    {{ include('end.html.twig') }}
{% endblock %}
