{{include('head.html.twig')}}
{% block body %}
    <h1 class="text-center">{{ affiche.favori|upper }} VS {{ affiche.challenger|upper }}</h1>
    <table class="table">
        <tbody>

        <tr>
            <td>nombre de paris</td>
            <td>{{ affiche.bet|length}}</td>
        </tr>
        {% for b in affiche.bet %}
            <tr>
                <td>

                    <a href="{{ path('bet_instinct_bet_show',{'id':b.id}) }}">{{ b.typedePari.Type2choix }}</a>
                </td>
            </tr>
        {% endfor %}

            <tr>
                <th>Schedule</th>
                <td>{{ affiche.schedule ? affiche.schedule|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ affiche.score }}</td>
            </tr>
            <tr>
                <th>Favori</th>
                <td>{{ affiche.favori }}</td>
            </tr>

            <tr>
                <th>Outsider</th>
                <td>{{ affiche.challenger }}</td>
            </tr>


        </tbody>
    </table>
<div class="col text-center mb-2">
    <a href="{{ path('bet_instinct_affiche_edit', {'id': affiche.id}) }}" class="btn btn-success">modifier</a>
    <a href="{{ path('bet_instinct_affiche_index') }}" class="btn btn-primary">retour</a>
    <a href="{{ path('bet_instinct_bet_new') }}" class="btn btn-info">ajouter 1 pari</a>


</div>
    {{ include('end.html.twig') }}
{% endblock %}
