{{include('head.html.twig')}}
{% block body %}
    {{ dump(affiche) }}
    {% for b in affiche.bet %}{{ dump(b) }}{% endfor %}
    <h1 class="text-center">{{ affiche.favori|upper }} VS {{ affiche.challenger|upper }}</h1>
    <table class="table">
        <tbody>

        <tr>
            <td>nombre de paris</td>
            <td>{{ affiche.bet|length}}</td>
        </tr>
        {% for b in affiche.bet %}
            <tr>
                <td>
                    <a href="{{ path('bet_instinct_bet_show',{'id':b.id}) }}">{{ b.typedePari.Type2choix.name }}</a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <th>Schedule</th>
                <td>{{ affiche.schedule ? affiche.schedule|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ affiche.score }}</td>
            </tr>
            <tr>
                <th>Favori</th>
                <td onclick="document.location='{{ path('bet_instinct_athlete_show',{'id':affiche.favori.id}) }}'" class="cursor">{{ affiche.favori }} {{ affiche.favori.ranking }}</td>
                {% if  affiche.equipeA!=null  %}
                <td>{{ affiche.equipeA.name }}</td>
                {% endif %}
            </tr>

            <tr>
                <th>Outsider</th>
                <td onclick="document.location='{{ path('bet_instinct_athlete_show',{'id':affiche.challenger.id}) }}'" class="cursor">{{ affiche.challenger }} {{ affiche.challenger.ranking }}</td>
                {% if  affiche.EquipeB!=null  %}
                    <td>{{ affiche.EquipeB.name }}</td>
                {% endif %}

            </tr>


        </tbody>
    </table>
<div class="col text-center mb-2">
    <a href="{{ path('bet_instinct_affiche_edit', {'id': affiche.id}) }}" class="btn btn-success">modifier</a>
    <a href="{{ path('home') }}" class="btn btn-primary">retour</a>
    <a href="{{ path('bet_instinct_bet_new',{'id':affiche.id}) }}" class="btn btn-info">ajouter 1 pari</a>
    {{ include('bet_instinct/affiche/_delete_form.html.twig') }}


</div>
    {{ include('end.html.twig') }}
{% endblock %}
