{{include('head.html.twig')}}


{% block body %}
    <h1>Nouveau type de Pari</h1>

    {{ include('bet_instinct/typede_pari/_form.html.twig') }}

    <a href="{{ path('bet_instinct_typede_pari_index') }}" class="btn btn-secondary">retour</a>
    <a href="{{ path('bet_instinct_type2choix_index') }}" class="btn btn-secondary">type2choix</a>
    </div>
    {{include('end.html.twig')}}

{% endblock %}
