{{include('head.html.twig')}}


{% block body %}
    <h1>TypedePari</h1>
{{ dump(typede_pari) }}
    <table class="table">
        <tbody>
            <tr>
                <th>nom</th>
                <td>{{ typede_pari.type2choix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_typede_pari_index') }}" class="btn btn-secondary">retour</a>

    <a href="{{ path('bet_instinct_typede_pari_edit', {'id': typede_pari.id}) }}" class="btn btn-success">edit</a>


    {{include('end.html.twig')}}

{% endblock %}
