{{ include('head.html.twig')}}

{% block body %}
    <h3 class="text-center">Modifier la transaction n°{{ transaction.id }} de {{ transaction.auteur.nickname|capitalize }}</h3>

    {{ include('bet_instinct/transaction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bet_instinct_transaction_index') }}" class="btn btn-secondary">retour</a>

{% endblock %}
