{{include('head.html.twig')}}

{% block body %}
    <h1>Transaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.montant }}</td>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('bet_instinct_transaction_show', {'id': transaction.id}) }}"class="btn btn-info" >voir</a>
                   <!-- <a href="{{ path('bet_instinct_transaction_edit', {'id': transaction.id}) }}">edit</a>-->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_transaction_new') }}" class="btn btn-primary">transaction</a>
{% endblock %}
