{{include('head.html.twig')}}


{% block body %}
    <h1>Transaction</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ transaction.type }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ transaction.montant }} €</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ transaction.auteur }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ transaction.createdAt ? transaction.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        <tr onclick="document.location='{{ path('bet_instinct_game_show',{'id':transaction.game.id}) }}'" class="cursor">
                <th>Game</th>
            {% for p in transaction.game.pronostics %}
                <td>{{ p.bet}} ({{ p.bet.affiche}})</td>
            {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_transaction_index') }}" class="btn btn-secondary">retour</a>
    <a href="{{ path('bet_instinct_transaction_edit',{'id':transaction.id}) }}" class="btn btn- disabled">modifier</a>


{% endblock %}
