<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix3,'cote':bet.cote3}) }}'">
    <td>{{ bet.TypedePari.type2choix.choix3 }}</td>
    <td style="color:green">{{ bet.cote3 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix4,'cote':bet.cote4}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix4 }}</td>
    <td style="color:red">{{ bet.cote4 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix5,'cote':bet.cote5}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix5 }}</td>
    <td style="color:red">{{ bet.cote5 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix6,'cote':bet.cote6}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix6 }}</td>
    <td style="color:red">{{ bet.cote6 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix7,'cote':bet.cote7}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix7 }}</td>
    <td style="color:red">{{ bet.cote7 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix8,'cote':bet.cote8}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix8 }}</td>
    <td style="color:red">{{ bet.cote8 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix9,'cote':bet.cote9}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix9 }}</td>
    <td style="color:red">{{ bet.cote9 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix10,'cote':bet.cote10}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix10 }}</td>
    <td style="color:red">{{ bet.cote10 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix11,'cote':bet.cote11}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix11 }}</td>
    <td style="color:red">{{ bet.cote11 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix12,'cote':bet.cote12}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix12 }}</td>
    <td style="color:red">{{ bet.cote12 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix13,'cote':bet.cote13}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix13}}</td>
    <td style="color:red">{{ bet.cote13 }}</td>
</tr>

<tr class="mt-2 cursor" onclick="document.location='{{ path("bet_instinct_pronostic_new",{'bet':bet.id,'choix':bet.TypedePari.type2choix.choix14,'cote':bet.cote14}) }}'">
    <td >{{ bet.TypedePari.type2choix.choix14}}</td>
    <td style="color:red">{{ bet.cote14 }}</td>
</tr>

