{{include('head.html.twig')}}

{% block body %}
    <h1>Pronostic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Choix</th>
                <th>Cote</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pronostic in pronostics %}
            <tr>
                <td>{{ pronostic.id }}</td>
                <td>{{ pronostic.choix }}</td>
                <td>{{ pronostic.cote }}</td>
                <td>
                    <a href="{{ path('bet_instinct_pronostic_show', {'id': pronostic.id}) }}" class="btn btn-info">voir</a>
                    <a href="{{ path('bet_instinct_pronostic_edit', {'id': pronostic.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bet_instinct_pronostic_new') }}" class="btn btn-primary">nouveau pronostic</a>

    {{include('end.html.twig')}}


{% endblock %}
