{{ include('head.html.twig') }}

{% block body %}
    <h1>Pronostic index</h1>
    <table class="table">
        <thead>
        <tr>
            <th>DATE</th>
            <th>match</th>
            <th>type</th>
            <th>Choix</th>
            <th>Cote</th>
           </tr>
        </thead>
        <tbody>
        {% for pronostic in pronostics %}
            <tr onclick="document.location='{{ path('bet_instinct_pronostic_show',{'id':pronostic.id}) }}'" class="cursor">
            <td>{{ pronostic.created|date('d-m-Y H:m:s') }}</td>
            <td>{% if pronostic.affiche.equipeA is not null %}{{ pronostic.affiche.equipeA.name|upper }} VS {{ pronostic.affiche.EquipeB.name }}</td>
                {% else%}
                {{ pronostic.affiche}}
                {% endif %}
            <td>{{ pronostic.bet.TypedePari }}</td>
            <td onclick="document.location='{{ path('bet_instinct_pronostic_show',{'id':pronostic.id}) }}'" class="cursor">{{ pronostic.choix }}</td>
            <td>{{ pronostic.cote }}</td>

            </tr>

        {% endfor %}
        </tbody>
    </table>


    {{ include('end.html.twig') }}


{% endblock %}
