{{include('head.html.twig')}}

{% block body %}
    <h1>Pronostic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DATE</th>
                <th>match</th>
                <th>type</th>
                <th>Choix</th>
                <th>Cote</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pronostic in pronostics %}
            <tr>
                <td>{{ pronostic.created|date('d-m-Y H:m:s') }}</td>
                <td>{{ pronostic.affiche }}</td>
                <td>{{ pronostic.bet.TypedePari }}</td>
                <td>{{ pronostic.choix }}</td>
                <td>{{ pronostic.cote }}</td>
                <td>
                    <a href="{{ path('bet_instinct_pronostic_show', {'id': pronostic.id}) }}" class="btn btn-info">voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{include('end.html.twig')}}


{% endblock %}
