{{include('head.html.twig')}}

{% block body %}
    <h4 class="text-center"><a href="{{ path('bet_instinct_affiche_show',{'id':pronostic.bet.affiche.id}) }}" class="cursor"> {{ pronostic.bet.affiche|upper }} {{ pronostic.bet.TypedePari }}</a></h4>
{{ dump(pronostic) }}
    <table class="table">
        <tbody>
            <tr>
                <th>type de pari</th>
                <td>{{ pronostic.bet.TypedePari }}</td>
            </tr>
            <tr>
                <th>Choix</th>
                <td class="font-weight-bold">{{ pronostic.choix }}</td>
            </tr>
            <tr>
                <th>pronostic exact</th>
                <td class="font-weight-bold">{{ pronostic.pronoExact }}</td>
            </tr>
            <tr>
                <th>Cote</th>
                <td>{{ pronostic.cote }}</td>
            </tr>
        <tr>
                <th>resultat</th>
            {% if pronostic.isValid is null %} <td class="text-primary">en attente</td>{% endif %}
            {% if pronostic.isValid == true %} <td class="text-success">winner</td>{% endif %}
            {% if pronostic.isValid == false %} <td class="text-danger font-weight-bold">perdant</td>{% endif %}
            </tr>
            {% for g in pronostic.game3 %}
            <tr onclick="document.location='{{ path('bet_instinct_game_show',{'id':g.id}) }}'" class="cursor">
                <th>game3</th>
                <td>{{ g }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="col text-center">
    {% if pronostic.game1!=null %}
    <a href="{{ path('bet_instinct_game_show',{'id':pronostic.game1.id}) }}" class="btn btn-primary">retour</a>
    {% endif %}
    {% if pronostic.isConfirm == false or pronostic.isConfirm == null %}
    <a href="{{ path('bet_instinct_pronostic_edit', {'id': pronostic.id}) }}" class="btn btn-success">edit</a>
    {% endif %}
</div>
{% endblock %}
