{{include('head.html.twig')}}

{% block body %}
    <h4 class="text-center">Pronostic {{ pronostic.bet.affiche|upper }} {{ pronostic.bet.TypedePari }}</h4>
{{ dump(pronostic) }}
    <table class="table">
        <tbody>
            <tr>
                <th>Affiche</th>
                <td>{{ pronostic.affiche.equipeA.name|upper }} VS {{ pronostic.affiche.EquipeB.name }}</td>
            </tr>
            <tr>
                <th>type de pari</th>
                <td>{{ pronostic.bet.TypedePari }}</td>
            </tr>
            <tr>
                <th>Choix</th>
                <td class="font-weight-bold">{{ pronostic.choix }}</td>
            </tr>
            <tr>
                <th>Cote</th>
                <td>{{ pronostic.cote }}</td>
            </tr>
        <tr>
                <th>resultat</th>
                <td>{{    pronostic.isValid==1?'valide':'' }}</td>
            </tr>
            <tr>
                <th>game1</th>
                <td>{{ pronostic.game1 }}</td>
            </tr>
        </tbody>
    </table>
<div class="col text-center">
    {% if pronostic.game1!=null %}
    <a href="{{ path('bet_instinct_game_show',{'id':pronostic.game1.id}) }}" class="btn btn-primary">retour</a>
    {% endif %}
    {% if pronostic.isConfirm == false or pronostic.isConfirm == null %}
    <a href="{{ path('bet_instinct_pronostic_edit', {'id': pronostic.id}) }}" class="btn btn-success">edit</a>
    {% endif %}
</div>
{% endblock %}
