{{include('head.html.twig')}}

{% block body %}
    <h4 class="text-center">Pronostic {{ pronostic.bet.affiche }} {{ pronostic.bet.TypedePari }}</h4>
{{ dump(pronostic) }}
    <table class="table">
        <tbody>
            <tr>
                <th>Affiche</th>
                <td>{{ pronostic.bet.affiche }}</td>
            </tr>
            <tr>
                <th>Choix</th>
                <td>{{ pronostic.choix }}</td>
            </tr>
            <tr>
                <th>Cote</th>
                <td>{{ pronostic.cote }}</td>
            </tr>
        <tr>
                <th>resultat</th>
                <td>{{    pronostic.isValid==1?'valide':'perdu' }}</td>
            </tr>
        </tbody>
    </table>
<div class="col text-center">
    <a href="{{ path('bet_instinct_pronostic_index') }}" class="btn btn-primary">retour</a>

    <a href="{{ path('bet_instinct_pronostic_edit', {'id': pronostic.id}) }}" class="btn btn-success">edit</a>

    {{ include('bet_instinct/pronostic/_delete_form.html.twig') }}
</div>
{% endblock %}
