{{include ('head.html.twig')}}

{% block body %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ pay.name }}</td>
            </tr>
            <tr>
                <th>Shortcut</th>
                <td>{{ pay.shortcut }}</td>
            </tr>
        </tbody>
    </table>
<div class="col text-center">
    <a href="{{ path('bet_instinct_pays_index') }}" class="btn btn-primary">retour</a>

    <a href="{{ path('bet_instinct_pays_edit', {'id': pay.id}) }}" class="btn btn-success">edit</a>

    <a href="{{ path('bet_instinct_city_new') }}" class="btn btn-secondary">add city</a>


    {{ include('end.html.twig') }}
{% endblock %}
